{% extends 'layout.html.twig' %}

{% block content %}
    <div class="main-container">
        <h1>My accessories</h1>
    <ul>
        {% for accessory in accessories %}
            <li>{{ accessory.Name }}</li>
            <div><img src="{{accessory.url}}"></div>
        {% endfor %}
    </ul>
    </div>
{% endblock %}
